.container1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.inputBox{
    color:white;
}
.container2 {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px;
}

.table{
    width: 500px;
    border: 1px solid black;
}
thead{
    color:white;
    background-color:black;
}
#flip{
    width:100%!important;
    position:sticky;
}
#flip:before{
}

.Form{
    display:felx;
    align-items:center;
    justify-content:center;
    
    width:400px;
    padding:10px;
    background-color:black;
}

.DictionaryContainer{
    display:flex;   
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

.DictionaryContainerForm{
    background-color:black;
    padding:10px;
}
.DictionaryInnerContainer{
    background-color:black;
    padding:10px;
    color:white;
    margin-bottom:10px;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}
.spanDiv{
    text-align:center;
}