
<div class="container1">
    <div class="Form">
        <partial name="_UserInfoform" />
    </div>
</div>
<div class="container2">
    <div >
        <partial name="_UserDetails" />
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/projectjs.js"></script>
<link href="~/css/user.css" rel="stylesheet" />