@model List<UserModel>

<div class="btn btn-primary w-100" id="flip">Show Details</div>
<div class="table_container mt-2" id="panel">
<table class="table table-striped">
        <thead >
        <tr>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Age</td>
            </tr>
        }
    </tbody>
</table>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>

<script>
$(document).ready(function(){
  $("#flip").click(function(){
    $("#panel").slideToggle("slow");
  });
});
</script>

<link href="~/css/user.css" rel="stylesheet" />
