@model IEnumerable<UserModelDictionary>
<div class="DictionaryContainer">
    <div class="DictionaryInnerContainer">
        <h2 style="color:white; text-align:center;">Add User</h2>
    <form asp-controller="Dictionary" asp-action="AddUser" method="post" style="color:white" class="DictionaryContainerForm">
        <div class="form-group">
            <label for="Name">Name:</label>
            <input type="text" id="Name" name="Name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="Age">Age:</label>
            <input type="number" id="Age" name="Age" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Add User</button>

    </form>
    <div class="spanDiv">

        <span style="margin-top:10px; text-align:center;">Submit Count :@ViewBag.SubmitCount</span>
    </div>
    </div>
</div>

<div>
<partial name="_DictionaryTable">
</div>
    <script>
        $(document).ready(function () {
            $("#flip").click(function () {
                $("#panel").slideToggle("slow");
            });
        });
    </script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/css/user.css" rel="stylesheet" />