@model NewProject.Models.EmployeeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Employee Details</h1>

<p>
    <button class="btn btn-primary">Add Employee</button>
</p>
<div style="height:70vh; " class="overflow-scroll w-50">
<table class="table table-striped border ">
        <thead class="bg-black text-white">
            <tr >
            <th>
                Name
            </th>
    </thead>

    <tbody id="tableBody"> 

    </tbody>
</table>
</div>


<div class="modal" id="EmployeeModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="modalTitle"></h3>
                <span type="button" class="close" data-bs-dismiss="modal">
                    <i class="bi bi-x-lg"></i>
                </span>
            </div>
            
                <div class="modal-body">
                 
                    <div id="Name">

                    </div>
                    <div id="Age">
                        
                    </div>
                    <div id="CityId">
                    </div>
                    
            </div>
            
            <div class="modal-footer">
                <button class="btn btn-secondary close" data-bs-dismiss="modal">Close</button>
            </div>
            
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/employeejs.js"></script>