@model NewProject.Models.CityModel

@{
    ViewData["Title"] = "SelectedCity";
}

<h1>SelectedCity</h1>

<table class="table table-striped border">
    <thead class="bg-black text-white">
        <tr>
            <th>
                Id
            </th>
            <th>
                Name
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.Id</td>
            <td>@Model.Name</td>
        </tr>
    </tbody>
</table>
<p>
@Html.ActionLink("Go Back","Index","City")
</p>